In [1]:
import pandas as pd
import csv
import os
import re

In [2]:
FOLDER_NAME = 'R-D-F-data'

In [5]:
df = None

file_list = os.listdir(FOLDER_NAME)
file_list.remove('.DS_Store')
for csv_file in file_list:
    if (df is None):
        df = pd.read_csv(FOLDER_NAME + '/' + csv_file)
    else:
        df = df.append(pd.read_csv(FOLDER_NAME + '/' + csv_file), ignore_index=True)

In [21]:
df[df['date'] == '2016-09-16']

,location,event,date,artist,coordinates
5224,Geneve,FESTIVAL DE LA BATIE,2016-09-16,CAROLINE BERGVALL,"(46.2043907, 6.1431577)"
5225,Geneve,FESTIVAL DE LA BATIE,2016-09-16,MIET WARLOP FRUITS OF LABOR,"(46.2043907, 6.1431577)"
5226,Les Acacias,FESTIVAL DE LA BATIE,2016-09-16,TOSHIKI OKADA,"(46.1829674, 6.1378539)"
5227,Geneve,FESTIVAL DE LA BATIE,2016-09-16,ALAIN PLATEL,"(46.2043907, 6.1431577)"
5228,Geneve,FESTIVAL DE LA BATIE,2016-09-16,SAMBA DE LA MUERTE,"(46.2043907, 6.1431577)"
5229,Les Acacias,FESTIVAL DE LA BATIE,2016-09-16,FRANCOIS CHAIGNAUD,"(46.1829674, 6.1378539)"

In [7]:
OUT_FOLDER_NAME = 'R-D-F-data-aggr'

In [9]:
file_list = os.listdir(FOLDER_NAME)
file_list.remove('.DS_Store')

# Will contain dataframes, one for each day
dfs = []

for csv_file in file_list:    
    dfs.append(pd.read_csv(FOLDER_NAME + '/' + csv_file))

In [20]:
dfs[1650]

,location,event,date,artist,coordinates
0,Geneve,FESTIVAL DE LA BATIE,2016-09-16,CAROLINE BERGVALL,"(46.2043907, 6.1431577)"
1,Geneve,FESTIVAL DE LA BATIE,2016-09-16,MIET WARLOP FRUITS OF LABOR,"(46.2043907, 6.1431577)"
2,Les Acacias,FESTIVAL DE LA BATIE,2016-09-16,TOSHIKI OKADA,"(46.1829674, 6.1378539)"
3,Geneve,FESTIVAL DE LA BATIE,2016-09-16,ALAIN PLATEL,"(46.2043907, 6.1431577)"
4,Geneve,FESTIVAL DE LA BATIE,2016-09-16,SAMBA DE LA MUERTE,"(46.2043907, 6.1431577)"
5,Les Acacias,FESTIVAL DE LA BATIE,2016-09-16,FRANCOIS CHAIGNAUD,"(46.1829674, 6.1378539)"