In [1]:
import glob
import numpy as np
import pandas as pd
import LocationUtils as lu
dictionaryFile = "ClubsGeo"

In [2]:
files = []
files = glob.glob("EventsChData/*.csv")
print(len(files))
ClubDataFrame = pd.read_csv(files[0])

for file in files[1:]:
    df= pd.read_csv(file)
    ClubDataFrame = ClubDataFrame.append(df,ignore_index = True)
    
print(ClubDataFrame.shape)
ClubDataFrame.head()

1456
(36340, 6)

,Unnamed: 0,location,event,date,artists,genre
0,0,Zürich,Andy-Gruber-Band,2016-04-22,['Andy Gruber Band '],traditional
1,1,Basel,Lilian's-White-Party,2016-04-22,['DJ Raykard '],Pop
2,2,Basel,Orgelspiel-zum-Feierabend,2016-04-22,['Martin Sander '],Classic
3,3,Dietikon,Feierabendmusik,2016-04-22,['Bernhard Hörler '],Classic
4,4,Zürich,Oomph,2016-04-22,['Oomph '],Electronic

In [3]:
ClubDataFrame = ClubDataFrame.drop('Unnamed: 0', 1)

In [4]:
ClubDataFrame[13:16]

,location,event,date,artists,genre
13,Bern,Schuberts-Tragische,2016-04-22,[' Veronika Eberle '],Classic
14,Basel,Jazzfestival-Basel,2016-04-22,"[' Kenny Garrett ', ' Vernell Brown ', ' Corco...",NaN
15,null,Konzert,2016-04-22,[' Tine Thing Helseth '],Classic

run once cells below

dic = lu.loadDictionary(dictionaryFile)

print(len(dic))

lu.populateDictionary(dic)

print(len(dic))

lu.saveDictionary(dic, "newDic")

In [5]:
dic = lu.loadDictionary("newDic")

In [6]:
print(len(dic))

650

In [7]:
ClubDataFrame = ClubDataFrame[ClubDataFrame.location != "null"]

In [8]:
ClubDataFrame[13:16]

,location,event,date,artists,genre
13,Bern,Schuberts-Tragische,2016-04-22,[' Veronika Eberle '],Classic
14,Basel,Jazzfestival-Basel,2016-04-22,"[' Kenny Garrett ', ' Vernell Brown ', ' Corco...",NaN
16,Bern,Oli-Kehrli,2016-04-22,['Oli Kehrli '],Pop

In [9]:
def addCoordinatesColumn(df, dictionary=None, location_column_name="location", coordinates_column_name = "coordinates",replace=False, inplace = False):
    tmp = df.copy()
    if(coordinates_column_name in df.columns):
        if(replace):
            if(inplace):
                df.drop(coordinates_column_name,1, inplace=True)
            else:
                tmp.drop(coordinates_column_name,1, inplace=True)
        else:
            print("column ",coordinates_column_name," already in dataframe.")
            return 
    serie = pd.Series(data = np.nan, index = df.index, dtype = np.dtype)
    for (i,r) in df.iterrows():
        serie[i]= lu.getLocation(df.loc[i,location_column_name], dictionary)[0]
        if(i%128 == 0): 
            print(i)
    if(inplace):
        df.insert(len(df.columns), coordinates_column_name,serie)
    else: 
        tmp.insert(len(tmp.columns), coordinates_column_name,serie)
        return tmp

In [ ]:
addCoordinatesColumn(ClubDataFrame, dic, inplace=True)

In [ ]:
ClubDataFrame.head()

In [ ]:
lu.saveDictionary(dic, "newDic")