### IPYNB To add genres to the EventsCh Dataframe

In [24]:
import numpy as np
import pandas as pd
import ArtistExtractor as AE
import LocationUtils as LU

In [4]:
path = "EventsChData/completeWithCoordinates.csv"
df = pd.read_csv(path)
df.head()

,location,event,date,artists,genre,coordinates
0,Zürich,Andy-Gruber-Band,2016-04-22,['Andy Gruber Band '],traditional,"(47.3768866, 8.541694)"
1,Basel,Lilian's-White-Party,2016-04-22,['DJ Raykard '],Pop,"(47.55959860000001, 7.588576099999999)"
2,Basel,Orgelspiel-zum-Feierabend,2016-04-22,['Martin Sander '],Classic,"(47.55959860000001, 7.588576099999999)"
3,Dietikon,Feierabendmusik,2016-04-22,['Bernhard Hörler '],Classic,"(47.4053885, 8.39977)"
4,Zürich,Oomph,2016-04-22,['Oomph '],Electronic,"(47.3768866, 8.541694)"

In [23]:
df[df.genre.isnull()].head()

,location,event,date,artists,genre,coordinates
5,Zürich,Plusmacher,2016-04-22,['Plusmacher '],NaN,"(47.3768866, 8.541694)"
8,Bern,Internationales-Jazzfestival-Bern,2016-04-22,['T. S. Monk Sextet '],NaN,"(46.9479739, 7.447446800000001)"
11,Pratteln,Borknagar,2016-04-22,"['Borknagar ', ' Kampfar ', ' Diabolical ']",NaN,"(47.5183198, 7.6919889)"
14,Basel,Jazzfestival-Basel,2016-04-22,"[' Kenny Garrett ', ' Vernell Brown ', ' Corco...",NaN,"(47.55959860000001, 7.588576099999999)"
18,Zürich,Buck-Wolfarth,2016-04-22,"[' Christian Buck ', ' Christian Wolfarth ']",NaN,"(47.3768866, 8.541694)"

In [ ]:
dic = LU.loadDictionary()