## IPYNB to add a column coordinates with (long, lat) to the data from the website events.ch

In [1]:
import glob
import numpy as np
import pandas as pd
import LocationUtils as lu
dictionaryFile = "ClubsGeo"

Import all csv from the website events.ch

In [2]:
files = []
files = glob.glob("EventsChData/*.csv")
print(len(files))
ClubDataFrame = pd.read_csv(files[0])

for file in files[1:]:
    df= pd.read_csv(file)
    ClubDataFrame = ClubDataFrame.append(df,ignore_index = True)
    
print(ClubDataFrame.shape)
ClubDataFrame.head()

1456
(36340, 6)

,Unnamed: 0,location,event,date,artists,genre
0,0,Zürich,Andy-Gruber-Band,2016-04-22,['Andy Gruber Band '],traditional
1,1,Basel,Lilian's-White-Party,2016-04-22,['DJ Raykard '],Pop
2,2,Basel,Orgelspiel-zum-Feierabend,2016-04-22,['Martin Sander '],Classic
3,3,Dietikon,Feierabendmusik,2016-04-22,['Bernhard Hörler '],Classic
4,4,Zürich,Oomph,2016-04-22,['Oomph '],Electronic

We have this annoying column because the csv was written without "index=False" (my bad).

In [3]:
ClubDataFrame = ClubDataFrame.drop('Unnamed: 0', 1)

Check if DF is correct now

In [4]:
ClubDataFrame[13:16]

,location,event,date,artists,genre
13,Bern,Schuberts-Tragische,2016-04-22,[' Veronika Eberle '],Classic
14,Basel,Jazzfestival-Basel,2016-04-22,"[' Kenny Garrett ', ' Vernell Brown ', ' Corco...",NaN
15,null,Konzert,2016-04-22,[' Tine Thing Helseth '],Classic

run once cells below to populate the dictionary = create entry from "1020 Renens" and "1020;Renens" to "Renens" to avoid some searches.

dic = lu.loadDictionary(dictionaryFile)

print(len(dic))

lu.populateDictionary(dic)

print(len(dic))

lu.saveDictionary(dic, "newDic")

In [5]:
dic = lu.loadDictionary("newDic")

In [6]:
print(len(dic))

650

In [7]:
ClubDataFrame = ClubDataFrame[ClubDataFrame.location != "null"]

Check if invalid location are gone

In [8]:
ClubDataFrame[13:16]

,location,event,date,artists,genre
13,Bern,Schuberts-Tragische,2016-04-22,[' Veronika Eberle '],Classic
14,Basel,Jazzfestival-Basel,2016-04-22,"[' Kenny Garrett ', ' Vernell Brown ', ' Corco...",NaN
16,Bern,Oli-Kehrli,2016-04-22,['Oli Kehrli '],Pop

In [9]:
def addCoordinatesColumn(df, dictionary=None, location_column_name="location", coordinates_column_name = "coordinates",replace=False, inplace = False):
    tmp = df.copy()
    if(coordinates_column_name in df.columns):
        if(replace):
            if(inplace):
                df.drop(coordinates_column_name,1, inplace=True)
            else:
                tmp.drop(coordinates_column_name,1, inplace=True)
        else:
            print("column ",coordinates_column_name," already in dataframe.")
            return 
    serie = pd.Series(data = np.nan, index = df.index, dtype = np.dtype)
    for (i,r) in df.iterrows():
        serie[i]= lu.getLocation(df.loc[i,location_column_name], dictionary)[0]
        if(i%128 == 0): 
            print(i)
    if(inplace):
        df.insert(len(df.columns), coordinates_column_name,serie)
    else: 
        tmp.insert(len(tmp.columns), coordinates_column_name,serie)
        return tmp

Add the coordinate column to he dataframe

In [10]:
addCoordinatesColumn(ClubDataFrame, dic, inplace=True)

0
out of bounds:  Baden  :  48.56992809999999 , 8.530397199999998
out of bounds:  Kuppel  :  50.1810945 , 12.1549795
128
256
out of bounds:  Gampel  :  41.805293 , -72.2544231
384
out of bounds:  Palais-des-Congrès  :  45.5050927 , -73.5598036
out of bounds:  X-tra  :  55.8564658 , 13.0611227
512
out of bounds:  -Festplatz-am-See  :  49.52110089999999 , 6.667535999999999
out of bounds:  Rougemont  :  36.2184752 , -78.926397
out of bounds:  Wabern  :  51.1011758 , 9.350158
640
768
out of bounds:  Palace  :  36.11616850000001 , -115.174499
out of bounds:  Théâtre-La-Fourmi  :  45.823884 , 1.267253
out of bounds:  Usine  :  51.4406171 , 5.475026299999999
896
out of bounds:  Cully  :  45.565921 , -122.6066627
out of bounds:  Vernissage  :  40.9402461 , -74.1618139
1024
out of bounds:  Altstadt  :  51.2286604 , 6.772650800000001
1152
out of bounds:  Degen  :  40.70345570000001 , -73.97177959999999
out of bounds:  Paléo  :  43.2256401 , -8.3525459
out of bounds:  St.-Stephan  :  50.9272436 , 6.9138315
out of bounds:  e-198060  :  45.5092974 , -92.2842544
out of bounds:  Z7  :  51.30326609999999 , 33.4405563
1280
out of bounds:  Place-Nova-Friburgo  :  -22.2894838 , -42.53133589999999
out of bounds:  Dracula-Club  :  44.43108300000001 , 26.095479
out of bounds:  Moods  :  40.75371519999999 , -73.99039479999999
1408
out of bounds:  Brunnen  :  48.62964330000001 , 11.3077715
out of bounds:  Burgdorf  :  45.277123 , -115.9129022
out of bounds:  Kirchberg  :  47.4477519 , 12.3151773
1664
1792
out of bounds:  Trimbach  :  48.1949046 , 7.326016000000001
out of bounds:  Cham  :  49.2238643 , 12.6620845
1920
2048
2176
2304
out of bounds:  Marktplatz  :  48.4644042 , 8.410938600000001
result using geocode
2432
out of bounds:  Piazza  :  39.9665611 , -75.1399345
2560
2688
out of bounds:  Waldenburg  :  49.1832843 , 9.6385802
2816
out of bounds:  Birr  :  53.0980052 , -7.909688200000002
2944
3072
out of bounds:  Piano-di-primo-al-primo-piano  :  45.06775500000001 , 7.690499999999999
3200
3328
3456
3584
3712
3840
out of bounds:  Mascotte  :  28.5783313 , -81.8867451
3968
out of bounds:  Victoria-Hall  :  36.0956884 , -80.24128139999999
4096
4224
out of bounds:  e-198144  :  45.5092974 , -92.2842544
out of bounds:  Altes-Stadthaus  :  52.51654569999999 , 13.4122521
result using textsearch
4352
out of bounds:  KiFF  :  19.3813664 , -99.14702659999999
out of bounds:  La-Catrina  :  41.85791719999999 , -87.6520331
4480
out of bounds:  Rathausplatz  :  48.2106286 , 16.3587776
out of bounds:  Bar  :  41.3060796 , -72.9304171
out of bounds:  Prima-Vista  :  39.1060132 , -84.5563686
out of bounds:  Orbital-Garden  :  34.264151 , -118.411071
out of bounds:  Helsinki  :  60.16985569999999 , 24.938379
4736
out of bounds:  Dynamo  :  29.7522497 , -95.35771869999999
4864
4992
5120
5376
5504
5632
5760
5888
6016
6144
out of bounds:  Mahogany-Hall  :  38.53673560000001 , -121.7582872
6272
out of bounds:  SAS  :  66.7613451 , 124.1237531
6400
6528
6656
6784
6912
7040
out of bounds:  Bar-Rossi  :  53.563762 , 9.959604
7296
out of bounds:  Mariastein  :  40.415031 , -84.47599799999999
7424
out of bounds:  S-Event-Hall  :  35.2603356 , -81.19984520000001
result using textsearch
7552
7680
7936
8064
8192
8320
8448
8576
8704
out of bounds:  -Sud-des-Alpes  :  44.56859840000001 , 6.069875999999999
8832
8960
9088
out of bounds:  Mundwerk  :  52.4378867 , 13.2628158
9216
9344
9472
out of bounds:  Shine-Bar  :  41.6608142 , -86.18011249999999
9600
9728
9856
9984
10112
out of bounds:  Mozart  :  41.8808731 , -87.69766159999999
result using textsearch
out of bounds:  Seerestaurant  :  32.3346806 , -90.8578338
out of bounds:  Parterre-One  :  52.3311613 , 6.657492299999999
10240
10368
10624
out of bounds:  Marly  :  40.1341532 , -75.51275059999999
10752
out of bounds:  Wangs  :  40.67736419999999 , -73.9825141
10880
11008
11264
11392
out of bounds:  Widen  :  38.4662066 , -80.8574241
11520
11648
out of bounds:  -Maison-du-Peuple  :  6.3744761 , 2.447124
11776
out of bounds:  Il-Caffè  :  34.0425531 , -118.2561154
out of bounds:  Restaurant  :  44.946804 , -93.298856
11904
12032
out of bounds:  Olsberg  :  51.3556649 , 8.4801828
12160
result using textsearch
out of bounds:  Sonnenberg  :  53.0188689 , 13.0890382
12288
12416
12672
out of bounds:  Mokka  :  39.0921701 , -84.49442859999999
12928
13056
13184
13312
13440
13568
result using geocode
out of bounds:  Amphitheater  :  32.2722975 , -110.9723154
13696
13824
13952
14080
14208
14464
out of bounds:  Avegno  :  44.3860983 , 9.162913099999999
14592
14720
14848
14976
15104
out of bounds:  Speicher  :  49.93614050000001 , 6.6374691
15232
15360
out of bounds:  Festivalgelände  :  51.0294994 , 6.9644201
15488
out of bounds:  -KuZeB  :  35.45513829999999 , 136.7380461
15616
15744
15872
16000
out of bounds:  District-4  :  35.75007960000001 , 51.5255214
16128
out of bounds:  Treibhaus  :  47.2675786 , 11.3963948
16256
16384
16512
16640
16768
out of bounds:  Saland  :  32.882092 , -96.7612291
17024
17152
17280
17408
17536
17664
17792
17920
18048
18176
18304
18432
18560
18688
18816
18944
out of bounds:  Kirchplatz  :  47.677978 , 12.4700462
19072
out of bounds:  Sportplatz-Kellen  :  51.79495529999999 , 6.159982599999999
result using textsearch
result using textsearch
19200
out of bounds:  Estrich  :  51.4035683 , 10.3399075
19328
19456
19584
19712
19840
out of bounds:  Maur  :  44.71106899999999 , 2.198334999999999
19968
20096
20224
20352
out of bounds:  Gare-du-Nord  :  48.8809481 , 2.3553137
20480
20608
20736
20864
out of bounds:  Star-Club  :  34.0152881 , -118.4963204
out of bounds:  Wald  :  44.5640944 , -123.2772195
20992
21120
out of bounds:  Hinterhof  :  47.61716999999999 , 15.39394
21248
21376
21632
21760
21888
out of bounds:  Rain  :  42.65406369999999 , -73.76634159999999
22016
22144
22272
22400
22528
out of bounds:  Pferderennbahn  :  51.51185799999999 , 7.528938200000001
result using textsearch
22656
22784
out of bounds:  Baronessa  :  39.09757999999999 , -77.13532099999999
22912
23040
23168
23296
23552
23680
23808
23936
out of bounds:  e-198056  :  45.5092974 , -92.2842544
out of bounds:  e-195155  :  45.5092974 , -92.2842544
out of bounds:  e-198057  :  45.5092974 , -92.2842544
24064
24320
24448
24576
24704
24832
24960
25088
25216
out of bounds:  Villa-Wahnsinn  :  51.22606189999999 , 6.773688099999998
25344
25472
result using geocode
25600
25728
25856
out of bounds:  Krempel  :  54.3169495 , 9.0293969
25984
26112
26240
out of bounds:  Sud  :  2.720283199999999 , 11.7068294
out of bounds:  Horn  :  48.66607 , 15.65716
26368
26496
out of bounds:  Metronom  :  53.55156059999999 , 10.0063965
26624
26752
26880
27008
27136
27264
27392
27520
27648
27776
27904
28032
28160
28288
28416
28544
28672
out of bounds:  Station-21  :  41.285044 , -70.09836899999999
28800
28928
29056
29184
29312
29440
29568
29696
29824
29952
out of bounds:  Schlosshof  :  48.21389600000001 , 16.936939
30336
30464
30592
30720
30848
30976
31104
out of bounds:  Sils  :  41.81090039999999 , 2.743285799999999
31232
31360
31488
31616
out of bounds:  -Halle-1019  :  39.2038674 , -83.96981889999999
out of bounds:  Bar-3000  :  33.500207 , -86.796261
31744
31872
32000
32128
32256
32384
out of bounds:  e-194618  :  45.5092974 , -92.2842544
32512
32640
out of bounds:  Bondo  :  -0.1003371 , 34.2754988
32768
out of bounds:  -Club  :  -35.4665551 , -69.576607
32896
33024
out of bounds:  Kaiserstuhl  :  48.10999999999999 , 7.664166699999998
33408
33536
33664
33792
33920
34048
34176
34304
34432
34560
34688
34816
out of bounds:  Nouveau-Monde  :  50.642105 , 2.753868999999999
out of bounds:  Cargo-Bar  :  -43.5412104 , 172.6151355
out of bounds:  Aaredelta-Grien  :  49.18870099999999 , -123.090339
34944
out of bounds:  Eisenwerk  :  48.64191 , 14.76976
35200
35328
out of bounds:  Kultwerk  :  47.9828957 , 7.844426899999999
35456
35584
35712
35840
out of bounds:  Winkel  :  52.7546858 , 4.9024413
35968
out of bounds:  St.-Urban  :  34.0438618 , -118.4310844
36224

In [11]:
ClubDataFrame.head()

,location,event,date,artists,genre,coordinates
0,Zürich,Andy-Gruber-Band,2016-04-22,['Andy Gruber Band '],traditional,"(47.3768866, 8.541694)"
1,Basel,Lilian's-White-Party,2016-04-22,['DJ Raykard '],Pop,"(47.55959860000001, 7.588576099999999)"
2,Basel,Orgelspiel-zum-Feierabend,2016-04-22,['Martin Sander '],Classic,"(47.55959860000001, 7.588576099999999)"
3,Dietikon,Feierabendmusik,2016-04-22,['Bernhard Hörler '],Classic,"(47.4053885, 8.39977)"
4,Zürich,Oomph,2016-04-22,['Oomph '],Electronic,"(47.3768866, 8.541694)"

Save the dictionary for further use

In [12]:
lu.saveDictionary(dic, "newDic")

We still have events where no coordinates could be found

In [23]:
ClubDataFrame[ClubDataFrame["coordinates"]==(None, None)].head()

,location,event,date,artists,genre,coordinates
1270,e-198060,NaN,2013-06-12,['Marco Amherd '],Classic,"(None, None)"
1308,Place-Nova-Friburgo,Estavayer-le-Lac,2013-07-31,"['Lilly Wood & The Prick ', ' Jil Is Lucky ']",NaN,"(None, None)"
3114,Schmittner-Openair,Schmitten,2013-06-22,['Animals & Friends '],Redwood,"(None, None)"
3133,Piano-di-primo-al-primo-piano,Allschwil,2013-06-22,['Gilad Atzmon & Frank Harrison '],NaN,"(None, None)"
4298,e-198144,NaN,2013-06-16,['Jimmy Cliff '],NaN,"(None, None)"

Check if (None, None) coordinates are removed

In [30]:
ClubDataFrame = ClubDataFrame[ClubDataFrame["coordinates"]!=(None, None)]
ClubDataFrame.loc[1268:1272]

,location,event,date,artists,genre,coordinates
1268,Basel,Masterrezital,2013-06-12,[' Andrea Joy Walker '],Classic,"(47.55959860000001, 7.588576099999999)"
1269,Luzern,Blue-Soul-&-Me,2013-06-12,['Mark Tenger '],NaN,"(47.05016819999999, 8.309307200000001)"
1271,Dübendorf,Christian-Muthspiel-4,2013-06-12,"[' Christian Muthspiel ', ' Matthieu Michel ',...",NaN,"(47.3971476, 8.618012799999999)"
1272,Salzhaus,Winterthur,2013-06-12,['Element Of Crime '],NaN,"(47.4975354, 8.7222841)"

Save csv with geographic coordinates

In [32]:
ClubDataFrame.to_csv("EventsChData/completeWithCoordinates.csv", index=False)

Check if write good

In [34]:
tmp = pd.read_csv("EventsChData/completeWithCoordinates.csv", index_col = False)

In [35]:
tmp.head()

,location,event,date,artists,genre,coordinates
0,Zürich,Andy-Gruber-Band,2016-04-22,['Andy Gruber Band '],traditional,"(47.3768866, 8.541694)"
1,Basel,Lilian's-White-Party,2016-04-22,['DJ Raykard '],Pop,"(47.55959860000001, 7.588576099999999)"
2,Basel,Orgelspiel-zum-Feierabend,2016-04-22,['Martin Sander '],Classic,"(47.55959860000001, 7.588576099999999)"
3,Dietikon,Feierabendmusik,2016-04-22,['Bernhard Hörler '],Classic,"(47.4053885, 8.39977)"
4,Zürich,Oomph,2016-04-22,['Oomph '],Electronic,"(47.3768866, 8.541694)"